@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

.sidebar {
    // No se puede animar de block a none, por eso de usa opacity
    opacity: 0;
    height: 0; // Altura 0
    overflow: hidden; // Contenido que se desborda por el altura 0 se esconde
    background-color: v.$indigo;

    transition: opacity 300ms ease-in;
    h2 {
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    .sidebar-nav {
        margin-top: 5rem;
        a {
            color: v.$blanco;
            display: block;
            margin-bottom: 1.5rem;
            padding: .7rem;
            border-radius: .5rem;
            transition: background-color 200ms ease-in;

            &:hover,  
            &.activo{
                background-color: color.adjust(v.$indigo, $lightness: -20%);
            }
        }

    }
    &.mostrar {
        opacity: 1;
        height: 100%;
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / .90);
        @include m.tablet {
            display: none;
        }


    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }
}